* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.nav-cont {
  border-bottom: 1px solid grey;
}

.nav-items li,
.info li {
  margin: 0 3rem;
}

nav button {
  background: #00b5d8;
  border: none;
  border-radius: 5px;
  width: 145px;
  height: 40px;
}
.toggleBar {
  height: 12px;
  width: 16px;
}
section {
  overflow: hidden;
}
header {
  overflow: hidden;
}
.info-section h3 {
  width: 35%;
}
.posts-section .grid-cont {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.posts {
  width: 100%;
  height: 333.35px;
  display: flex;
  align-items: flex-end;
  color: white;
}
.posts:hover {
  cursor: pointer;
}

.post-1 {
  background: url(./images/featuredPost-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.post-2 {
  background: url(./images/featuredPost-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.post-3 {
  background: url(./images/featuredPost-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.post-4 {
  background: url(./images/featuredPost-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.reads .row {
  margin: 1rem 0;
}
.reads img {
  width: 100%;
}
.reads p {
  word-spacing: 5px;
  color: #828282;
}
.reads .read {
  width: 60%;
}
footer .list-items li {
  margin: 2rem 0;
}
footer input {
  width: 250px;
}
footer button {
  background: #00b5d8;
  color: white;
  border: none;
  width: 152px;
  height: 46px;
}
.bordered {
  border-top: 1px solid grey;
}
footer .logo {
  width: 25%;
}
@media screen and (max-width: 765px) {
  .img-container {
    height: 20vh;
  }
  .img-container img {
    height: 100%;
  }
  .info-section h3 {
    width: 100%;
  }
  .info-section .info {
    overflow: auto;
    white-space: nowrap;
  }
  .posts-section .grid-cont {
    grid-template-columns: repeat(1, 1fr);
  }
  .posts {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    color: white;
  }
  .info li {
    margin: 0 2rem;
  }
  .mob-nav-items {
    height: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
  }
  .show-nav {
    height: 500px;
  }
  .mob-nav-items li {
    margin: 4rem 0;
  }
  .bi-x-lg {
    display: none;
  }
  .show-x {
    display: block;
  }

  .reads .read {
    width: 100%;
  }
  footer input {
    width: 280px;
  }

  footer .logo {
    width: 100%;
  }
}
@media screen and (min-width: 756px) and (max-width: 1100px) {
  .nav-items li,
  .info li {
    margin: 0 1rem;
  }
  .nav-items li {
    font-size: 0.7rem;
  }
  .reads .read {
    width: 75%;
  }
}
@media screen and (max-width: 1100px) {
  .nav-items li,
  .info li {
    margin: 0 1rem;
  }
}
